/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.parent{
	-fx-background:white;
}

.sideBar{
	-fx-background-color: #DA2129;
}

.forgotPassword {
	-fx-text-fill:#a3a3a3;
	
}

.forgotPassword:hover {
	-fx-text-fill:#6747CD;
	-fx-underline: true;
	
}

.signup:hover {
	-fx-text-fill:#6747CD;
	-fx-underline: true;
	-fx-font-weight:bold;
	
}

.normalBtn{
	-fx-background-color:#0595f5;
	-fx-text-fill:white;
	-fx-background-radius:10px;
	
}

 .loginBtn {
 	-fx-background-color:#3747CD;
 	-fx-text-fill:#fff;
 	-fx-background-radius:10px;
 	
 	
 }
 
  .loginBtn:hover {
 	-fx-background-color:transparent;
 	-fx-background-radius:15px;
 	-fx-text-fill:#6747CD;
 	-fx-border-color:#6747CD;
 	-fx-border-width:2px;
 	-fx-border-style: solid;
 	-fx-border-radius:7px;
 	
 }
 
 .createBtn {
 	-fx-background-color:#1cad43;
 	-fx-text-fill:#fff;
 	-fx-background-radius:10px;
 	
 	
 }
 
  .createBtn:hover {
 	-fx-background-color:transparent;
 	-fx-background-radius:15px;
 	-fx-text-fill:#06ba36;
 	-fx-border-color:#06ba36;
 	-fx-border-width:2px;
 	-fx-border-style: solid;
 	-fx-border-radius:7px;
 	
 }
 
 .cancelBtn {
 	-fx-background-color:#f53d43;
 	-fx-text-fill:#fff;
 	-fx-background-radius:10px;
 	
 	
 }
 
  .cancelBtn:hover {
 	-fx-background-color:transparent;
 	-fx-background-radius:15px;
 	-fx-text-fill:#db0007;
 	-fx-border-color:#db0007;
 	-fx-border-width:2px;
 	-fx-border-style: solid;
 	-fx-border-radius:7px;
 	
 }
 
 .infoLabel {
 	-fx-text-fill:red;
 }
 
 .pwdMatch{
 	-fx-text-fill:red;
 	-fx-font-size:10;
 }
 
 .goBack{
 	-fx-fill:#545454
 }
 
 .goBack:hover{
 	-fx-fill:#DA2129;
 }